* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif !important;
}
a {
  text-decoration: none !important;
}
.css-q78dgc-MuiContainer-root{
  padding-left: 24px !important;
  padding-right: 24px !important;
}
form .MuiInputBase-sizeSmall.form_inputs {
  border: 1px solid #e3e7ec !important;
  border-radius: 10px !important;
  background-color: #f2f4f8;
  color: #000 !important;
  height: 45px;
  font-size: 14px;
}

form .MuiTypography-root.MuiTypography-body2.css-18ukxow-MuiTypography-root {
  font-size: 13px;
  margin: 10px 0px;
  color: #000;
  font-weight: 550;
}
.date_time_picker p {
  font-size: 13px;
  color: #000;
  font-weight: 550;
}
.date_time_picker .css-nsl34v.MuiTextField-root {
  margin: 0;
}
.date_time_picker > div > div > div > div {
  border: 1px solid #e3e7ec !important;
  border-radius: 10px !important;
  background-color: #f2f4f8;
  color: #000 !important;
  height: 45px;
  font-size: 14px;
}
.date_time_picker .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root:hover {
  height: 45px;
  font-size: 14px;
  outline: none !important;
}
.date_time_picker
  .MuiTypography-root.MuiTypography-body2.css-vx71s7-MuiTypography-root {
  color: #d32f2f;
  margin-top: 8px;
}
@media (max-width: 767px){
  .search_conatiner.css-1ksgk29, .select_box_conatiner.css-ufscxh{
    width: 100% !important; 
    margin-bottom: 10px;
  }
  .instructor_details{
    flex-direction: column !important;
    gap: 10px !important;
  }
  .instructor_details_topic{
    flex-direction: column !important;
    gap: 0px !important;
  }
  .modal_footer_section{
    flex-direction: column !important;
    gap: 10px !important;
  }
  .css-1m2ma82{
    height: max-content !important;
  }
  .date_time_picker > div > div > div > div{
    width: 65vw !important;
    overflow: hidden !important;
  }
  .date_time_picker > div > div > div{
    min-width: 0px !important;
    width: 65vw !important;
  }
  .modal_container{
    height: max-content !important;
  }
}